<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h3>I'm in the AppComponent !</h3>
            <hr>
            <div class="app-servers"></div>
            <div app-warning-alert></div>
            <app-success-alert></app-success-alert>
            <input type="text" [(ngModel)]="username">
            <p>username is : {{ username }}</p>
            <button class="btn-default" [disabled]="!showReset()" (click)="resetUsername()"> Reset username </button>
            <button class="btn-primary" (click)="addUser()"> Add User </button>
            <ul>
                <li *ngFor="let user of users">
                    <p [ngStyle]="{backgroundColor : 'green'}"> {{ user }} </p>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <h3>Directive Assignment</h3>
            <button class="btn-success" (click)="toggleDetails()"> Display Details </button>
            <p *ngIf="showDetails === true" [ngStyle]="{backgroundColor : getBackground()}" [ngClass]="{'details' : displayClass()}">Secret password is 'tuna', clicked {{ clickCounter }} </p>
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
</div>